<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni0B85</key>
    <string>uni0B_85.glif</string>
    <key>uni0B86</key>
    <string>uni0B_86.glif</string>
    <key>uni0B87</key>
    <string>uni0B_87.glif</string>
    <key>uni0B88</key>
    <string>uni0B_88.glif</string>
    <key>uni0B8E</key>
    <string>uni0B_8E_.glif</string>
    <key>uni0B8F</key>
    <string>uni0B_8F_.glif</string>
    <key>uni0BBE</key>
    <string>uni0B_B_E_.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>Tamil.socks</key>
    <string>_notdef.glif</string>
    <key>uni0082</key>
    <string>uni0082.glif</string>
    <key>uni0083</key>
    <string>uni0083.glif</string>
    <key>uni0084</key>
    <string>uni0084.glif</string>
    <key>uni0085</key>
    <string>uni0085.glif</string>
    <key>uni0087</key>
    <string>uni0087.glif</string>
    <key>uni0089</key>
    <string>uni0089.glif</string>
    <key>uni008A</key>
    <string>uni008A_.glif</string>
    <key>uni008B</key>
    <string>uni008B_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>tilde.case</key>
    <string>_notdef000000000000001.glif</string>
    <key>tm_NYA</key>
    <string>uni0B_9E_.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>tm_RA</key>
    <string>uni0B_B_0.glif</string>
    <key>uni0B89</key>
    <string>uni0B_89.glif</string>
    <key>uni0B8A</key>
    <string>uni0B_8A_.glif</string>
    <key>tm_NA</key>
    <string>uni0B_A_8.glif</string>
    <key>tm_PA</key>
    <string>uni0B_A_A_.glif</string>
    <key>tm_TTA</key>
    <string>uni0B_9F_.glif</string>
    <key>uni0B82</key>
    <string>uni0B_82.glif</string>
    <key>uni0B83</key>
    <string>uni0B_83.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>tm_LLA</key>
    <string>uni0B_B_3.glif</string>
    <key>tm_VA</key>
    <string>uni0B_B_5.glif</string>
    <key>tm_LA</key>
    <string>uni0B_B_2.glif</string>
    <key>tm_BAE</key>
    <string>uni0B_A_E_.glif</string>
    <key>tm_YA</key>
    <string>uni0B_A_F_.glif</string>
    <key>tm_RRA</key>
    <string>uni0B_B_1.glif</string>
    <key>tm_SHA</key>
    <string>uni0B_B_6.glif</string>
    <key>tm_LLLA</key>
    <string>uni0B_B_4.glif</string>
    <key>tm_SSA</key>
    <string>uni0B_B_7.glif</string>
    <key>uni0BB8</key>
    <string>uni0B_B_8.glif</string>
    <key>uni0BB9</key>
    <string>uni0B_B_9.glif</string>
    <key>tm_NNA</key>
    <string>uni0B_A_3.glif</string>
    <key>tm_NNNA</key>
    <string>uni0B_A_9.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>circumflex.case</key>
    <string>circumflex.case.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>uni01E3</key>
    <string>uni01E_3.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>uni1E0D</key>
    <string>uni1E_0D_.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>uni1EBD</key>
    <string>uni1E_B_D_.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>uni1E25</key>
    <string>uni1E_25.glif</string>
    <key>uni1E96</key>
    <string>uni1E_96.glif</string>
    <key>uni1E2B</key>
    <string>uni1E_2B_.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>uni1E35</key>
    <string>uni1E_35.glif</string>
    <key>uni1E33</key>
    <string>uni1E_33.glif</string>
    <key>uni1E3B</key>
    <string>uni1E_3B_.glif</string>
    <key>uni1E37</key>
    <string>uni1E_37.glif</string>
    <key>uni1E39</key>
    <string>uni1E_39.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>uni1E41</key>
    <string>uni1E_41.glif</string>
    <key>uni1E43</key>
    <string>uni1E_43.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>uni1E45</key>
    <string>uni1E_45.glif</string>
    <key>uni1E49</key>
    <string>uni1E_49.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>zero.pnum</key>
    <string>zero.pnum.glif</string>
    <key>one.pnum</key>
    <string>one.pnum.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>uni1E0C</key>
    <string>uni1E_0C_.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>uni1EBC</key>
    <string>uni1E_B_C_.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>uni1E24</key>
    <string>uni1E_24.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>uni1E32</key>
    <string>uni1E_32.glif</string>
    <key>uni1E36</key>
    <string>uni1E_36.glif</string>
    <key>uni1E40</key>
    <string>uni1E_40.glif</string>
    <key>uni1E42</key>
    <string>uni1E_42.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>uni1E44</key>
    <string>uni1E_44.glif</string>
    <key>uni1E46</key>
    <string>uni1E_46.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>uni1E58</key>
    <string>uni1E_58.glif</string>
    <key>uni1E5A</key>
    <string>uni1E_5A_.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>uni1E62</key>
    <string>uni1E_62.glif</string>
    <key>uni1E6C</key>
    <string>uni1E_6C_.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>uni1E8E</key>
    <string>uni1E_8E_.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>uni1E92</key>
    <string>uni1E_92.glif</string>
    <key>uni1E47</key>
    <string>uni1E_47.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>uni1E59</key>
    <string>uni1E_59.glif</string>
    <key>uni1E5B</key>
    <string>uni1E_5B_.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>uni1E63</key>
    <string>uni1E_63.glif</string>
    <key>uni1E6D</key>
    <string>uni1E_6D_.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>uni1E8F</key>
    <string>uni1E_8F_.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>uni1E93</key>
    <string>uni1E_93.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>uni0302</key>
    <string>uni0302.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni030B</key>
    <string>uni030B_.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>uni2113</key>
    <string>uni2113.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uni2219</key>
    <string>uni2219.glif</string>
    <key>uni2215</key>
    <string>uni2215.glif</string>
    <key>quoteleft.latn</key>
    <string>quoteleft.latn.glif</string>
    <key>uni0302.cap</key>
    <string>uni0302.cap.glif</string>
    <key>uni0303.cap</key>
    <string>uni0303.cap.glif</string>
    <key>uni0308.cap</key>
    <string>uni0308.cap.glif</string>
    <key>uni0B90</key>
    <string>uni0B_90.glif</string>
    <key>uni0B92</key>
    <string>uni0B_92.glif</string>
    <key>uni0B93</key>
    <string>uni0B_93.glif</string>
    <key>uni0B94</key>
    <string>uni0B_94.glif</string>
    <key>tm_KA</key>
    <string>uni0B_95.glif</string>
    <key>tm_NGA</key>
    <string>uni0B_99.glif</string>
    <key>tm_CA</key>
    <string>uni0B_9A_.glif</string>
    <key>uni0B9C</key>
    <string>uni0B_9C_.glif</string>
    <key>tm_TA</key>
    <string>uni0B_A_4.glif</string>
    <key>tm_VowelI</key>
    <string>uni0B_B_F_.glif</string>
    <key>tm_VowelIi</key>
    <string>uni0B_C_0.glif</string>
    <key>tm_VowelU</key>
    <string>uni0B_C_1.glif</string>
    <key>tm_UU</key>
    <string>uni0B_C_2.glif</string>
    <key>tm_E</key>
    <string>uni0B_C_6.glif</string>
    <key>tm_EE</key>
    <string>uni0B_C_7.glif</string>
    <key>tm_AI</key>
    <string>uni0B_C_8.glif</string>
    <key>uni0BCA</key>
    <string>uni0B_C_A_.glif</string>
    <key>uni0BCB</key>
    <string>uni0B_C_B_.glif</string>
    <key>uni0BCC</key>
    <string>uni0B_C_C_.glif</string>
    <key>tm_VIRAMA</key>
    <string>uni0B_C_D_.glif</string>
    <key>uni0BD0</key>
    <string>uni0B_D_0.glif</string>
    <key>tm_AU</key>
    <string>uni0B_D_7.glif</string>
    <key>uni0BB0.a</key>
    <string>uni0B_B_0.a.glif</string>
    <key>uni0BE6</key>
    <string>uni0B_E_6.glif</string>
    <key>tm_ONE</key>
    <string>uni0B_E_7.glif</string>
    <key>uni0BE8</key>
    <string>uni0B_E_8.glif</string>
    <key>uni0BE9</key>
    <string>uni0B_E_9.glif</string>
    <key>uni0BEA</key>
    <string>uni0B_E_A_.glif</string>
    <key>uni0BEB</key>
    <string>uni0B_E_B_.glif</string>
    <key>uni0BEC</key>
    <string>uni0B_E_C_.glif</string>
    <key>uni0BED</key>
    <string>uni0B_E_D_.glif</string>
    <key>uni0BEE</key>
    <string>uni0B_E_E_.glif</string>
    <key>uni0BEF</key>
    <string>uni0B_E_F_.glif</string>
    <key>uni0BF0</key>
    <string>uni0B_F_0.glif</string>
    <key>uni0BF1</key>
    <string>uni0B_F_1.glif</string>
    <key>uni0BF2</key>
    <string>uni0B_F_2.glif</string>
    <key>uni0BF3</key>
    <string>uni0B_F_3.glif</string>
    <key>uni0BF4</key>
    <string>uni0B_F_4.glif</string>
    <key>uni0BF5</key>
    <string>uni0B_F_5.glif</string>
    <key>uni0BF6</key>
    <string>uni0B_F_6.glif</string>
    <key>uni0BF7</key>
    <string>uni0B_F_7.glif</string>
    <key>uni0BF8</key>
    <string>uni0B_F_8.glif</string>
    <key>uni0BF9</key>
    <string>uni0B_F_9.glif</string>
    <key>uni0BFA</key>
    <string>uni0B_F_A_.glif</string>
    <key>uni0964</key>
    <string>uni0964.glif</string>
    <key>uni0965</key>
    <string>uni0965.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uni0FD5</key>
    <string>uni0F_D_5.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif</string>
    <key>uni1E2A</key>
    <string>uni1E_2A_.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>uni1E34</key>
    <string>uni1E_34.glif</string>
    <key>uni1E3A</key>
    <string>uni1E_3A_.glif</string>
    <key>uni1E38</key>
    <string>uni1E_38.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>uni1E48</key>
    <string>uni1E_48.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>uni1E5C</key>
    <string>uni1E_5C_.glif</string>
    <key>uni1E5E</key>
    <string>uni1E_5E_.glif</string>
    <key>uni1E6E</key>
    <string>uni1E_6E_.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>uni1E94</key>
    <string>uni1E_94.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>obreve</key>
    <string>obreve.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>uni1E5D</key>
    <string>uni1E_5D_.glif</string>
    <key>uni1E5F</key>
    <string>uni1E_5F_.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>uni1E6F</key>
    <string>uni1E_6F_.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>uni1E95</key>
    <string>uni1E_95.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>circumflex</key>
    <string>uni030C_.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>uni030A</key>
    <string>uni030A_.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>uni0310</key>
    <string>uni0310.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>uni0327</key>
    <string>uni0327.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>uni0328</key>
    <string>uni0328.glif</string>
    <key>uni0323</key>
    <string>uni0323.glif</string>
    <key>uni0324</key>
    <string>uni0324.glif</string>
    <key>uni0331</key>
    <string>uni0331.glif</string>
    <key>uni0325</key>
    <string>uni0325.glif</string>
    <key>uni032E</key>
    <string>uni032E_.glif</string>
    <key>uni035F</key>
    <string>uni035F_.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>uni20B9</key>
    <string>uni20B_9.glif</string>
    <key>uni20B9.pnum</key>
    <string>uni20B_9.pnum.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>uni0192</key>
    <string>uni0192.glif</string>
    <key>two.pnum</key>
    <string>two.pnum.glif</string>
    <key>three.pnum</key>
    <string>three.pnum.glif</string>
    <key>four.pnum</key>
    <string>four.pnum.glif</string>
    <key>five.pnum</key>
    <string>five.pnum.glif</string>
    <key>six.pnum</key>
    <string>six.pnum.glif</string>
    <key>seven.pnum</key>
    <string>seven.pnum.glif</string>
    <key>eight.pnum</key>
    <string>eight.pnum.glif</string>
    <key>nine.pnum</key>
    <string>nine.pnum.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>uni2206</key>
    <string>uni2206.glif</string>
    <key>uni2126</key>
    <string>uni2126.glif</string>
    <key>uni00B5</key>
    <string>uni00B_5.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>exclam.latn</key>
    <string>exclam.latn.glif</string>
    <key>question.latn</key>
    <string>question.latn.glif</string>
    <key>quoteright.latn</key>
    <string>quoteright.latn.glif</string>
    <key>quotedblleft.latn</key>
    <string>quotedblleft.latn.glif</string>
    <key>quotedblright.latn</key>
    <string>quotedblright.latn.glif</string>
    <key>asterisk.latn</key>
    <string>asterisk.latn.glif</string>
    <key>uni0300.cap</key>
    <string>uni0300.cap.glif</string>
    <key>uni0301.cap</key>
    <string>uni0301.cap.glif</string>
    <key>uni0304.cap</key>
    <string>uni0304.cap.glif</string>
    <key>uni0306.cap</key>
    <string>uni0306.cap.glif</string>
    <key>uni030A.cap</key>
    <string>uni030A_.cap.glif</string>
    <key>uni0307.cap</key>
    <string>uni0307.cap.glif</string>
    <key>uni030C.cap</key>
    <string>uni030C_.cap.glif</string>
    <key>uni0310.cap</key>
    <string>uni0310.cap.glif</string>
    <key>uni0082</key>
    <string>uni0082000000000000001.glif</string>
    <key>uni0083</key>
    <string>uni0083000000000000001.glif</string>
    <key>uni0084</key>
    <string>uni0084000000000000001.glif</string>
    <key>uni0085</key>
    <string>uni0085000000000000001.glif</string>
    <key>uni0087</key>
    <string>uni0087000000000000001.glif</string>
    <key>uni0089</key>
    <string>uni0089000000000000001.glif</string>
    <key>uni008A</key>
    <string>uni008A_000000000000001.glif</string>
    <key>uni008B</key>
    <string>uni008B_000000000000001.glif</string>
    <key>.notdef</key>
    <string>_notdef000000000000002.glif</string>
    <key>grave.case</key>
    <string>grave.case.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>dieresis.case</key>
    <string>acute.case.glif</string>
    <key>uni0B93.a</key>
    <string>uni0B_93.a.glif</string>
    <key>uni0BBF.a</key>
    <string>uni0B_B_F_.a.glif</string>
    <key>uni0BC0.a</key>
    <string>uni0B_C_0.a.glif</string>
    <key>uni0BC1.a</key>
    <string>uni0B_C_1.a.glif</string>
    <key>uni0BC2.a</key>
    <string>uni0B_C_2.a.glif</string>
    <key>macron.case</key>
    <string>macron.case.glif</string>
    <key>breve.case</key>
    <string>breve.case.glif</string>
    <key>ring.case</key>
    <string>ring.case.glif</string>
    <key>acute.case</key>
    <string>acute.case000000000000001.glif</string>
    <key>uni01E2</key>
    <string>uni01E_2.glif</string>
    <key>caron.case</key>
    <string>caron.case.glif</string>
    <key>dot.below</key>
    <string>dot.below.glif</string>
    <key>BREVE.BELOW</key>
    <string>B_R_E_V_E_.B_E_L_O_W_.glif</string>
    <key>Line.below</key>
    <string>L_ine.below.glif</string>
    <key>dot.above</key>
    <string>dot.above.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>dotaccent.case</key>
    <string>dotaccent.case.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>hungarumlaut.case</key>
    <string>hungarumlaut.case.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif</string>
    <key>uni02C9</key>
    <string>uni02C_9.glif</string>
    <key>Turkishlira</key>
    <string>T_urkishlira.glif</string>
    <key>Ruble</key>
    <string>R_uble.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>tcommaaccent</key>
    <string>tcommaaccent.glif</string>
    <key>.notdef</key>
    <string>tm_V_owelA_i.alt.glif</string>
    <key>tm_VowelI.alt1</key>
    <string>tm_V_owelI_.alt1.glif</string>
    <key>tm_VowelU.alt1</key>
    <string>tm_V_owelU_.alt1.glif</string>
    <key>tm_VowelUu.alt1</key>
    <string>tm_V_owelU_u.alt1.glif</string>
    <key>tm_VowelI.alt2</key>
    <string>tm_V_owelI_.alt2.glif</string>
    <key>tm_VowelI.alt3</key>
    <string>tm_V_owelI_.alt3.glif</string>
    <key>tm_VowelI.alt4</key>
    <string>tm_V_owelI_.alt4.glif</string>
    <key>tm_KU</key>
    <string>tm_K_U_.glif</string>
    <key>tm_CU</key>
    <string>tm_C_U_.glif</string>
    <key>tm_NyU</key>
    <string>tm_N_yU_.glif</string>
    <key>tm_TtU</key>
    <string>tm_T_tU_.glif</string>
    <key>tm_NnU</key>
    <string>tm_N_nU_.glif</string>
    <key>tm_TU</key>
    <string>tm_T_U_.glif</string>
    <key>tm_NU</key>
    <string>tm_N_U_.glif</string>
    <key>tm_NNNU</key>
    <string>tm_N_nnU_.glif</string>
    <key>tm_MU</key>
    <string>tm_M_U_.glif</string>
    <key>tm_RU</key>
    <string>tm_R_U_.glif</string>
    <key>tm_RrU</key>
    <string>tm_R_rU_.glif</string>
    <key>tm_LU</key>
    <string>tm_L_U_.glif</string>
    <key>tm_LlU</key>
    <string>tm_L_lU_.glif</string>
    <key>tm_LllU</key>
    <string>tm_L_llU_.glif</string>
    <key>tm_KUu</key>
    <string>tm_K_U_u.glif</string>
    <key>tm_NgUu</key>
    <string>tm_N_gU_u.glif</string>
    <key>tm_CUu</key>
    <string>tm_C_U_u.glif</string>
    <key>tm_TtUu</key>
    <string>tm_T_tU_u.glif</string>
    <key>tm_PUu</key>
    <string>tm_P_U_u.glif</string>
    <key>tm_MUu</key>
    <string>tm_M_U_u.glif</string>
    <key>tm_YUu</key>
    <string>tm_Y_U_u.glif</string>
    <key>tm_LlUu</key>
    <string>tm_L_lU_u.glif</string>
    <key>tm_LllUu</key>
    <string>tm_L_llU_u.glif</string>
    <key>tm_VUu</key>
    <string>tm_V_U_u.glif</string>
    <key>tm_KSsa</key>
    <string>tm_K_S_sa.glif</string>
    <key>tm_RUu</key>
    <string>tm_R_U_u000000000000001.glif</string>
    <key>tm_TtI</key>
    <string>tm_T_tI_.glif</string>
    <key>tm_TtIi</key>
    <string>tm_T_tI_i.glif</string>
    <key>tm_Shree</key>
    <string>tm_S_hree.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>tm_YAU</key>
    <string>tm_Y_A_U_.glif</string>
    <key>tm_VAu</key>
    <string>tm_V_A_u.glif</string>
    <key>tm_PAU</key>
    <string>tm_P_A_U_.glif</string>
    <key>tm_KSsa.alt1</key>
    <string>tm_K_S_sa.alt1.glif</string>
    <key>tm_NGAU</key>
    <string>tm_N_G_A_U_.glif</string>
    <key>tm_NYAUU</key>
    <string>tm_N_Y_A_U_U_.glif</string>
    <key>tm_NNAUU</key>
    <string>tm_N_N_A_U_U_.glif</string>
    <key>tm_TAUU</key>
    <string>tm_T_A_U_U_.glif</string>
    <key>tm_NAUU</key>
    <string>tm_N_A_U_U_.glif</string>
    <key>tm_LAUU</key>
    <string>tm_L_A_U_U_.glif</string>
    <key>tm_RRAUU</key>
    <string>tm_R_R_A_U_U_.glif</string>
    <key>tm_NNNAUU</key>
    <string>tm_N_N_N_A_U_U_.glif</string>
    <key>tm_SSAI</key>
    <string>tm_S_S_A_I_.glif</string>
    <key>tm_KSsaI</key>
    <string>tm_K_S_saI_.glif</string>
    <key>tm_EKSsa</key>
    <string>tm_E_K_S_sa.glif</string>
    <key>tm_EEKSsa</key>
    <string>tm_E_E_K_S_sa.glif</string>
    <key>tm_AIKSsa</key>
    <string>tm_A_I_K_S_sa.glif</string>
    <key>NameMe.611</key>
    <string>N_ameM_e.611.glif</string>
    <key>NameMe.612</key>
    <string>N_ameM_e.612.glif</string>
    <key>NameMe.613</key>
    <string>N_ameM_e.613.glif</string>
    <key>NameMe.614</key>
    <string>N_ameM_e.614.glif</string>
    <key>NameMe.615</key>
    <string>N_ameM_e.615.glif</string>
    <key>NameMe.616</key>
    <string>N_ameM_e.616.glif</string>
    <key>glyph626</key>
    <string>glyph626.glif</string>
    <key>glyph627</key>
    <string>glyph627.glif</string>
    <key>NameMe.619</key>
    <string>N_ameM_e.619.glif</string>
    <key>NameMe.620</key>
    <string>N_ameM_e.620.glif</string>
    <key>NameMe.621</key>
    <string>N_ameM_e.621.glif</string>
    <key>NameMe.622</key>
    <string>N_ameM_e.622.glif</string>
    <key>NameMe.623</key>
    <string>N_ameM_e.623.glif</string>
    <key>NameMe.624</key>
    <string>N_ameM_e.624.glif</string>
    <key>NameMe.625</key>
    <string>N_ameM_e.625.glif</string>
    <key>DZ</key>
    <string>D_Z_.glif</string>
    <key>Dz</key>
    <string>D_z.glif</string>
    <key>DZcaron</key>
    <string>D_Z_caron.glif</string>
    <key>Dzcaron</key>
    <string>D_zcaron.glif</string>
    <key>Edotbelow</key>
    <string>E_dotbelow.glif</string>
    <key>edotbelow</key>
    <string>edotbelow.glif</string>
    <key>Edblgrave</key>
    <string>E_dblgrave.glif</string>
    <key>edblgrave</key>
    <string>edblgrave.glif</string>
    <key>Einvertedbreve</key>
    <string>E_invertedbreve.glif</string>
    <key>einvertedbreve</key>
    <string>einvertedbreve.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Gacute</key>
    <string>G_acute.glif</string>
    <key>gacute</key>
    <string>gacute.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>Idotbelow</key>
    <string>I_dotbelow.glif</string>
    <key>idotbelow</key>
    <string>idotbelow.glif</string>
    <key>Idblgrave</key>
    <string>I_dblgrave.glif</string>
    <key>idblgrave</key>
    <string>idblgrave.glif</string>
    <key>Iinvertedbreve</key>
    <string>I_invertedbreve.glif</string>
    <key>iinvertedbreve</key>
    <string>iinvertedbreve.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>LJ</key>
    <string>L_J_.glif</string>
    <key>lj</key>
    <string>lj.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>NJ</key>
    <string>N_J_.glif</string>
    <key>nj</key>
    <string>nj.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>Odotbelow</key>
    <string>O_dotbelow.glif</string>
    <key>odotbelow</key>
    <string>odotbelow.glif</string>
    <key>Odblgrave</key>
    <string>O_dblgrave.glif</string>
    <key>odblgrave</key>
    <string>odblgrave.glif</string>
    <key>Oinvertedbreve</key>
    <string>O_invertedbreve.glif</string>
    <key>oinvertedbreve</key>
    <string>oinvertedbreve.glif</string>
    <key>Rdblgrave</key>
    <string>R_dblgrave.glif</string>
    <key>NameMe.673</key>
    <string>N_ameM_e.673.glif</string>
    <key>Rinvertedbreve</key>
    <string>R_invertedbreve.glif</string>
    <key>rinvertedbreve</key>
    <string>rinvertedbreve.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>Udotbelow</key>
    <string>U_dotbelow.glif</string>
    <key>udotbelow</key>
    <string>udotbelow.glif</string>
    <key>Udblgrave</key>
    <string>U_dblgrave.glif</string>
    <key>udblgrave</key>
    <string>udblgrave.glif</string>
    <key>Uinvertedbreve</key>
    <string>U_invertedbreve.glif</string>
    <key>uinvertedbreve</key>
    <string>uinvertedbreve.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>Ytilde</key>
    <string>Y_tilde.glif</string>
    <key>ytilde</key>
    <string>ytilde.glif</string>
    <key>mugreek</key>
    <string>mugreek.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>Lj</key>
    <string>L_j.glif</string>
    <key>Nj</key>
    <string>N_j.glif</string>
    <key>aeacute</key>
    <string>aeacute.glif</string>
    <key>dz</key>
    <string>dz.glif</string>
    <key>dzcaron</key>
    <string>dzcaron.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>rdblgrave</key>
    <string>rdblgrave.glif</string>
    <key>Acircumflexgrave</key>
    <string>A_circumflexgrave.glif</string>
    <key>acircumflexgrave</key>
    <string>acircumflexgrave.glif</string>
    <key>Acircumflexacute</key>
    <string>A_circumflexacute.glif</string>
    <key>acircumflexacute</key>
    <string>acircumflexacute.glif</string>
    <key>Acircumflextilde</key>
    <string>A_circumflextilde.glif</string>
    <key>acircumflextilde</key>
    <string>acircumflextilde.glif</string>
    <key>Acircumflexhookabove</key>
    <string>A_circumflexhookabove.glif</string>
    <key>acircumflexhookabove</key>
    <string>acircumflexhookabove.glif</string>
    <key>Acircumflexdotbelow</key>
    <string>A_circumflexdotbelow.glif</string>
    <key>acircumflexdotbelow</key>
    <string>acircumflexdotbelow.glif</string>
    <key>Abrevegrave</key>
    <string>A_brevegrave.glif</string>
    <key>abrevegrave</key>
    <string>abrevegrave.glif</string>
    <key>NameMe.721</key>
    <string>N_ameM_e.721.glif</string>
    <key>abreveacute</key>
    <string>abreveacute.glif</string>
    <key>Abrevetilde</key>
    <string>A_brevetilde.glif</string>
    <key>abrevetilde</key>
    <string>abrevetilde.glif</string>
    <key>Abrevehookabove</key>
    <string>A_brevehookabove.glif</string>
    <key>abrevehookabove</key>
    <string>abrevehookabove.glif</string>
    <key>Abrevedotbelow</key>
    <string>A_brevedotbelow.glif</string>
    <key>abrevedotbelow</key>
    <string>abrevedotbelow.glif</string>
    <key>Ahookabove</key>
    <string>A_hookabove.glif</string>
    <key>ahookabove</key>
    <string>ahookabove.glif</string>
    <key>Adotbelow</key>
    <string>A_dotbelow.glif</string>
    <key>adotbelow</key>
    <string>adotbelow.glif</string>
    <key>Ecircumflexgrave</key>
    <string>E_circumflexgrave.glif</string>
    <key>ecircumflexgrave</key>
    <string>ecircumflexgrave.glif</string>
    <key>Ecircumflexacute</key>
    <string>E_circumflexacute.glif</string>
    <key>ecircumflexacute</key>
    <string>ecircumflexacute.glif</string>
    <key>Ecircumflextilde</key>
    <string>E_circumflextilde.glif</string>
    <key>ecircumflextilde</key>
    <string>ecircumflextilde.glif</string>
    <key>Ecircumflexhookabove</key>
    <string>E_circumflexhookabove.glif</string>
    <key>ecircumflexhookabove</key>
    <string>ecircumflexhookabove.glif</string>
    <key>Ecircumflexdotbelow</key>
    <string>E_circumflexdotbelow.glif</string>
    <key>ecircumflexdotbelow</key>
    <string>ecircumflexdotbelow.glif</string>
    <key>Ehookabove</key>
    <string>E_hookabove.glif</string>
    <key>ehookabove</key>
    <string>ehookabove.glif</string>
    <key>Ihookabove</key>
    <string>I_hookabove.glif</string>
    <key>ihookabove</key>
    <string>ihookabove.glif</string>
    <key>Ocircumflexgrave</key>
    <string>O_circumflexgrave.glif</string>
    <key>ocircumflexgrave</key>
    <string>ocircumflexgrave.glif</string>
    <key>Ocircumflexacute</key>
    <string>O_circumflexacute.glif</string>
    <key>ocircumflexacute</key>
    <string>ocircumflexacute.glif</string>
    <key>Ocircumflextilde</key>
    <string>O_circumflextilde.glif</string>
    <key>ocircumflextilde</key>
    <string>ocircumflextilde.glif</string>
    <key>Ocircumflexhookabove</key>
    <string>O_circumflexhookabove.glif</string>
    <key>ocircumflexhookabove</key>
    <string>ocircumflexhookabove.glif</string>
    <key>Ocircumflexdotbelow</key>
    <string>O_circumflexdotbelow.glif</string>
    <key>ocircumflexdotbelow</key>
    <string>ocircumflexdotbelow.glif</string>
    <key>Ohookabove</key>
    <string>O_hookabove.glif</string>
    <key>ohookabove</key>
    <string>ohookabove.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>Ohorngrave</key>
    <string>O_horngrave.glif</string>
    <key>ohorngrave</key>
    <string>ohorngrave.glif</string>
    <key>NameMe.763</key>
    <string>N_ameM_e.763.glif</string>
    <key>ohornacute</key>
    <string>ohornacute.glif</string>
    <key>Ohorntilde</key>
    <string>O_horntilde.glif</string>
    <key>ohorntilde</key>
    <string>ohorntilde.glif</string>
    <key>Ohornhookabove</key>
    <string>O_hornhookabove.glif</string>
    <key>ohornhookabove</key>
    <string>ohornhookabove.glif</string>
    <key>Ohorndotbelow</key>
    <string>O_horndotbelow.glif</string>
    <key>Uhookabove</key>
    <string>U_hookabove.glif</string>
    <key>uhookabove</key>
    <string>uhookabove.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>Uhorngrave</key>
    <string>U_horngrave.glif</string>
    <key>uhorngrave</key>
    <string>uhorngrave.glif</string>
    <key>Uhornacute</key>
    <string>U_hornacute.glif</string>
    <key>uhornacute</key>
    <string>uhornacute.glif</string>
    <key>uni1EEE</key>
    <string>uni1E_E_E_.glif</string>
    <key>uhorntilde</key>
    <string>uhorntilde.glif</string>
    <key>Uhornhookabove</key>
    <string>U_hornhookabove.glif</string>
    <key>uhornhookabove</key>
    <string>uhornhookabove.glif</string>
    <key>Uhorndotbelow</key>
    <string>U_horndotbelow.glif</string>
    <key>uhorndotbelow</key>
    <string>uhorndotbelow.glif</string>
    <key>ohorndotbelow</key>
    <string>ohorndotbelow.glif</string>
    <key>Yhookabove</key>
    <string>Y_hookabove.glif</string>
    <key>yhookabove</key>
    <string>yhookabove.glif</string>
    <key>Ydotbelow</key>
    <string>Y_dotbelow.glif</string>
    <key>ydotbelow</key>
    <string>ydotbelow.glif</string>
    <key>nbsp</key>
    <string>nbsp.glif</string>
  </dict>
</plist>
