<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>space</key>
    <string>space.glif</string>
    <key>uni0B85</key>
    <string>uni0B_85.glif</string>
    <key>uni0B86</key>
    <string>uni0B_86.glif</string>
    <key>uni0B87</key>
    <string>uni0B_87.glif</string>
    <key>uni0B88</key>
    <string>uni0B_88.glif</string>
    <key>uni0B8E</key>
    <string>uni0B_8E_.glif</string>
    <key>uni0B8F</key>
    <string>uni0B_8F_.glif</string>
    <key>uni0BBE</key>
    <string>uni0B_B_E_.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>uni0082</key>
    <string>uni0082.glif</string>
    <key>uni0083</key>
    <string>uni0083.glif</string>
    <key>uni0084</key>
    <string>uni0084.glif</string>
    <key>uni0085</key>
    <string>uni0085.glif</string>
    <key>uni0087</key>
    <string>uni0087.glif</string>
    <key>uni0089</key>
    <string>uni0089.glif</string>
    <key>uni008A</key>
    <string>uni008A_.glif</string>
    <key>uni008B</key>
    <string>uni008B_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>.notdef</key>
    <string>_notdef000000000000001.glif</string>
    <key>uni0B9E</key>
    <string>uni0B_9E_.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>uni0BB0</key>
    <string>uni0B_B_0.glif</string>
    <key>uni0B89</key>
    <string>uni0B_89.glif</string>
    <key>uni0B8A</key>
    <string>uni0B_8A_.glif</string>
    <key>uni0BA8</key>
    <string>uni0B_A_8.glif</string>
    <key>uni0BAA</key>
    <string>uni0B_A_A_.glif</string>
    <key>uni0B9F</key>
    <string>uni0B_9F_.glif</string>
    <key>uni0B82</key>
    <string>uni0B_82.glif</string>
    <key>uni0B83</key>
    <string>uni0B_83.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>uni0BB3</key>
    <string>uni0B_B_3.glif</string>
    <key>uni0BB5</key>
    <string>uni0B_B_5.glif</string>
    <key>uni0BB2</key>
    <string>uni0B_B_2.glif</string>
    <key>uni0BAE</key>
    <string>uni0B_A_E_.glif</string>
    <key>uni0BAF</key>
    <string>uni0B_A_F_.glif</string>
    <key>uni0BB1</key>
    <string>uni0B_B_1.glif</string>
    <key>uni0BB6</key>
    <string>uni0B_B_6.glif</string>
    <key>uni0BB4</key>
    <string>uni0B_B_4.glif</string>
    <key>uni0BB7</key>
    <string>uni0B_B_7.glif</string>
    <key>uni0BB8</key>
    <string>uni0B_B_8.glif</string>
    <key>uni0BB9</key>
    <string>uni0B_B_9.glif</string>
    <key>uni0BA3</key>
    <string>uni0B_A_3.glif</string>
    <key>uni0BA9</key>
    <string>uni0B_A_9.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
  </dict>
</plist>
